@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: black;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

p {
  color: black;
  font-family: Poppins, sans-serif;
  cursor: default;
}

html {
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-y: hidden;
}

#leftSide {
  width: 70%;
}

#leftSide #titleContainer {
  height: 7vh;
  background-color: #8f745e;
  position: relative;
}

#leftSide #titleContainer #title {
  text-align: center;
  position: relative;
  font-size: 2.2vmax;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#leftSide #titleContainer #gameCounter {
  position: absolute;
  right: 5px;
  font-size: 0.9vmax;
  bottom: 0px;
}

#leftSide .beeswarmContainer {
  position: relative;
  background-color: #c7a487;
  border-top: 3px solid black;
  height: 31vh;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#leftSide .beeswarmContainer .chartTitleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 2.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#leftSide .beeswarmContainer .chartTitleContainer p {
  font-size: 1vmax;
  margin-right: 10px;
}

#leftSide .beeswarmContainer .chartTitleContainer i {
  font-size: 1vmax;
  cursor: help;
}

#leftSide .beeswarmContainer .chartTitleContainer i:hover {
  color: #323232;
}

#rightSide {
  width: 30%;
  height: 100vh;
  z-index: 0;
}

#rightSide #filters {
  position: relative;
  height: 32%;
  background-color: #735e4d;
  border-left: 3px solid black;
  padding: 3% 5%;
}

#rightSide #filters .filterLabel {
  font-size: 1vmax;
  font-weight: 500;
  margin-bottom: 1%;
  height: 12%;
  text-transform: uppercase;
}

#rightSide #filters .filterLabel:not(:first-child) {
  margin-top: 3%;
}

#rightSide #filters #openingSearchbar {
  border-radius: 5px;
  border: none;
  outline: none;
  width: 70%;
  height: 10%;
  font-size: 0.9vmax;
  padding-left: 5px;
  text-transform: capitalize;
}

#rightSide #filters #openingSearchbar::-webkit-input-placeholder {
  opacity: 0.5;
}

#rightSide #filters #openingSearchbar:-ms-input-placeholder {
  opacity: 0.5;
}

#rightSide #filters #openingSearchbar::-ms-input-placeholder {
  opacity: 0.5;
}

#rightSide #filters #openingSearchbar::placeholder {
  opacity: 0.5;
}

#rightSide #filters #sliderContainer {
  height: 16%;
}

#rightSide #filters #sliderContainer #eloSlider {
  border: 1px solid black;
  position: relative;
  height: 60%;
  background-color: #eeeef5;
}

#rightSide #filters #sliderContainer #ticks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#rightSide #filters #sliderContainer #ticks .tickmark {
  position: relative;
  border-left: 1px solid black;
  width: 0;
}

#rightSide #filters #sliderContainer #ticks .tickmark p {
  position: absolute;
  bottom: -16px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.6vmax;
}

#rightSide #filters #sliderContainer #ticks .tickmark:not(:last-child) {
  margin-right: calc(2.08% - 1px);
}

#rightSide #filters #timeControl {
  height: 21%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rightSide #filters #timeControl .checkboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#rightSide #filters #timeControl .checkboxContainer p {
  font-size: 1vmax;
  font-weight: 400;
  margin-top: 10%;
}

#rightSide #filters #timeControl .checkboxContainer input[type=checkbox] {
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

#rightSide #filters #timeControl .checkboxContainer input[type=checkbox]:checked {
  background-color: #b09076;
}

#rightSide #openingContainer {
  height: 68%;
  background-color: #b09076;
  border-left: 3px solid black;
  border-top: 1px solid black;
  text-align: center;
  padding-top: 3%;
}

#rightSide #openingContainer #openingName {
  font-size: 1.5vmax;
  text-decoration: none;
}

#rightSide #openingContainer #openingName:hover {
  color: #323232;
}

#rightSide #openingContainer #stackedBarChart {
  width: 100%;
  height: 300px;
  border: 1px solid red;
}

div.tooltip {
  color: black;
  position: absolute;
  text-align: left;
  font-family: Poppins, sans-serif;
  white-space: nowrap;
  padding: 6px;
  font-size: 14px;
  background: #eee;
  border: 1px solid gray;
  border-radius: 2px;
  pointer-events: none;
  cursor: none;
  z-index: 1;
}

div.tooltip strong {
  color: black;
}

.slider {
  position: absolute;
  border-left: 1px solid #8f745e;
  border-right: 1px solid #8f745e;
  background: #c7a487;
  height: 100%;
  width: 58px;
  top: 0px;
  cursor: move;
}

.slider .handle {
  position: absolute;
  height: 9px;
  width: 9px;
  background: #8f745e;
}

.slider .EE {
  right: -4px;
  cursor: e-resize;
}

.slider .WW {
  cursor: w-resize;
  left: -4px;
}

.slider .EE, .slider .WW {
  top: 50%;
  margin-top: -4px;
}
/*# sourceMappingURL=charts.css.map */