@import "colors";
@import "fonts";
@import "reset";

body {
    display: flex;
    flex-flow: row nowrap;
    overflow-y: hidden;
}

#leftSide {
    width: 70%;

    //Remove blue highligh when double-clicking
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;

    #titleContainer {
        height: 7vh;
        background-color: $chessBrown3;
        position: relative;

        #title {
            text-align: center;
            position: relative;
            font-size: 2.2vmax;
            text-transform: uppercase;
            top: 50%;
            transform: translateY(-50%);
        }

        #gameCounter {
            position: absolute;
            right: 5px;
            font-size: 0.9vmax;
            bottom: 0px;

            strong {
                font-size: 1em;
            }
        }
    }


    .beeswarmContainer {
        position: relative;
        background-color: $chessBrown1;
        border-top: 3px solid black;
        height: 31vh;
        width: 100%;

        //Remove blue highligh when double-clicking
        -webkit-user-select: none; 
        -moz-user-select: none;
        -ms-user-select: none; 
        -o-user-select: none;
        user-select: none;

        .chartTitleContainer {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 2.5%;
            left: 50%;
            transform: translateX(-50%);

            p {
                font-size: 1vmax;
                margin-right: 10px;
            }

            i {
                font-size: 1vmax;
                cursor: help;

                &:hover {
                    color: rgba(50,50,50,1);
                }
            }
        }
    }
}

#rightSide {
    width: 30%;
    height: 100vh;
    z-index: 0;

    #filters {
        position: relative;
        height: 32%;
        background-color: $chessBrown4;
        border-left: 3px solid black;
        padding: 3% 5%;

        //Remove blue highligh when double-clicking
        -webkit-user-select: none; 
        -moz-user-select: none;
        -ms-user-select: none; 
        -o-user-select: none;
        user-select: none;

        #connectToolContainer {
            position: absolute;
            top: 7%;
            right: 7%;
            width: 12%;

            p {
                font-size: 0.7vmax;
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;
                line-height: 100%;
                margin-bottom: 12%;
            }

            input[type=checkbox] {
                position: relative;
                height: 18px;
                width: 18px;
                transform: translateX(-50%);
                left: 50%;
                appearance: none;
                border: 2px solid white;
                background-color: white;
                cursor: pointer;
            
                &:checked{
                    background-color: $chessBrown2;
                }
            }

        }

        .filterLabel {
            font-size: 1vmax;
            font-weight: 500;
            margin-bottom: 1%;
            height: 12%;
            text-transform: uppercase;
        }

        .filterLabel:not(:first-child) {
            margin-top: 3%;
        }

        #openingSearchbar {
            border-radius: 5px;
            border: none;
            outline: none;
            width: 70%;
            height: 10%;
            font-size: 0.9vmax;
            padding-left: 5px;
            text-transform: capitalize;

            &::placeholder {
                opacity: 0.5;
            }
        }

        #sliderContainer {
            height: 16%;

            #eloSlider {
                border: 1px solid black;
                position: relative;
                height:60%;
                background-color: #eeeef5;
            }

            #ticks {
                display: flex;
                flex-flow: row nowrap;

                .tickmark {
                    position: relative;
                    border-left: 1px solid black;
                    width: 0;

                    p {
                        position: absolute;
                        bottom: -16px;
                        transform: translateX(-50%);
                        font-size: 0.6vmax;
                    }
                }

                .tickmark:not(:last-child) {
                    margin-right: calc(2.08% - 1px);
                }

            }

        }

        #timeControl {
            height: 21%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            .checkboxContainer {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
                position: relative;
                width: 10%;
                overflow: visible;

                p {
                    font-size: 1vmax;
                    font-weight: 400;
                    margin-top: 10%;
                }

                input[type=checkbox] {
                    height: 18px;
                    width: 18px;
                    appearance: none;
                    border: 2px solid white;
                    background-color: white;
                    border-radius: 50%;
                    cursor: pointer;
                
                    &:checked {
                        background-color: $chessBrown2;
                    }
                }
            }
        }
    }

    #openingContainer {
        position: relative;
        height: 68%;
        background-color: $chessBrown2;
        border-left: 3px solid black;
        border-top: 1px solid black;
        text-align: center;
        padding: 2% 0;

        #openingNameContainer {
            display: none;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 8%;
            width: 90%;
            margin-bottom: 2%;
            margin-left: auto;
            margin-right: auto;

            &:hover #openingName{
                color: rgba(50,50,50,1);
            }

            &:hover #linkIcon{
                color: rgba(50,50,50,1);
            }

            #openingName {
                font-size: 1.5vmax;
                text-decoration: none;
                white-space: nowrap;
            }

            #linkIcon{
                font-size: 1.8vmax;
                text-decoration: none;
                margin-left: 2%;
            }

        }

        #openingGameCounter {
            position: absolute;
            font-size: 0.7vmax;
            text-align: right;
            right: 5px;
            bottom: 3px;

            strong {
                font-size: 1em;
                font-weight: 600;
            }
        }

        #legend {
            width: 90%;
            margin: auto;
            
            hr {
                width: 100%;
                background-color: black;
                border: none;
                height: 1px;
            }

            #legendContainer {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin-top: 1%;
                margin-bottom: 1%;
    
                p {
                    font-size: 0.9vmax;
                    font-weight: 500;
                    cursor: pointer;
                    background-color: $chessBrown2;
    
                    &:hover {
                        filter: brightness(90%);
                    }
                }
    
                #legendV {
                    width: 42%;
                    text-align: left;
                    padding-left: 5px;
                }
    
                #legendG {
                    width: 18%;
                    text-align: right;
                    padding-right: 5px;
                    border-right: 1px solid rgba(0,0,0,0.5);
                }
    
                #legendW, #legendD, #legendB {
                    width: 13.33%;
                    text-align: center;
                }
            }

        }

        #stackedBarChart {
            display: flex;
            flex-flow: row nowrap;
            margin: auto;
            width: 90%;
            height: 40%;
            overflow-y: auto;
            overflow-x: hidden;
            margin-bottom: 5%;

            #variationLabelContainer {
                width: 60%;
                height: 100%;
                cursor: text;

                .variationInfo {
                    border-right: 1px solid black;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: space-between;
                    cursor: text;
                    background-color: $chessBrown2;

                    .nameInfo {
                        width: 70%;
                        text-align: left;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-left: 5px;
                        cursor: text;
                    }

                    .gamesInfo {
                        text-align: right;
                        padding-right: 5px;
                        width: 30%;
                        cursor: text;
                    }
                }

                .variationInfo:nth-child(even) {
                    filter: brightness(92%);
                }
            }

            #svgContainer {
                width: 40%;
                height: 100%;

                .barLabel {
                    cursor: default;
                    text-anchor: middle;

                    //Remove blue highligh when double-clicking
                    -webkit-user-select: none; 
                    -moz-user-select: none;
                    -ms-user-select: none; 
                    -o-user-select: none;
                    user-select: none;
                } 
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        #parallelCoordinatesChart {
            width: 90%;
            height: 40%;
            margin: auto;
        }
    }
}

div.tooltip {	
    color: black;
    position: absolute;			
    text-align: left;
    font-family: $poppins;		
    white-space: nowrap;					
    padding: 6px;				
    font-size: 14px;		
    background: #eee;	
    border: 1px solid gray;	
    border-radius: 2px;			
    pointer-events: none;
    cursor: none;
    z-index: 5;

    strong {
        color: black;
    }
}

.slider-container {
    height: 100%;
}

.slider {
    position: absolute;
    border-left: 1px solid $chessBrown3;
    border-right: 1px solid $chessBrown3;
    background: $chessBrown1;
    height: 100%;
    width: 58px;
    top: 0px;
    cursor: move;
}

.slider .handle {
    position: absolute;
    height: 9px;
    width: 9px;
    background: $chessBrown3;
}

.slider .EE {
    right: -4px;
    cursor: e-resize;
}

.slider .WW {
    cursor: w-resize;
    left: -4px;
}

.slider .EE, .slider .WW {
    top: 50%;
    margin-top: -4px;
}

#logCheckboxContainer {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 4;
    right: 10px;
    top: 10px;

    p {
        margin-right: 5px;
        font-size: 0.9vmax;
    }

    input[type=checkbox] {
        height: 18px;
        width: 18px;
        appearance: none;
        border: 2px solid white;
        background-color: white;
        border-radius: 30%;
        cursor: pointer;
    
        &:checked {
            background-color: $chessBrown3;
        }
    }
}