@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: black;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

p {
  color: black;
  font-family: Poppins, sans-serif;
  cursor: default;
}

html {
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#leftSide {
  width: 70%;
}

#leftSide #titleContainer {
  height: 10vh;
  background-color: #8f745e;
}

#leftSide #titleContainer p {
  text-align: center;
  position: relative;
  font-size: 3vmax;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#leftSide .beeswarmContainer {
  background-color: #c7a487;
  height: 30vh;
  border-top: 1px solid black;
}

#rightSide {
  width: 30%;
}

#rightSide #filters {
  height: 30vh;
  background-color: #735e4d;
}

#rightSide #filters #eloSlider {
  border: 1px solid black;
  height: 60%;
}

#rightSide #filters #timeControl {
  height: 40%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rightSide #filters #timeControl .checkboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rightSide #filters #timeControl .checkboxContainer p {
  font-size: 1.2vmax;
  font-weight: 500;
  margin-bottom: 10px;
}

#rightSide #filters #timeControl .checkboxContainer input[type=checkbox] {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 3px solid white;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

#rightSide #filters #timeControl .checkboxContainer input[type=checkbox]:checked {
  background-color: #b09076;
}

#rightSide #openingContainer {
  height: 70vh;
  border: 1px solid black;
  background-color: #fff1e6;
  text-align: center;
}

div.tooltip {
  color: black;
  position: absolute;
  text-align: left;
  font-family: Poppins, sans-serif;
  white-space: normal;
  padding: 6px;
  font-size: 14px;
  background: #eee;
  border: 1px solid gray;
  border-radius: 2px;
  pointer-events: none;
  cursor: none;
}

div.tooltip strong {
  color: black;
}
/*# sourceMappingURL=charts.css.map */