@import "colors";
@import "fonts";
@import "reset";

body {
    display: flex;
    flex-flow: row nowrap;
    overflow-y: hidden;
}

#leftSide {
    width: 70%;

    #titleContainer {
        height: 7vh;
        background-color: $chessBrown3;
        position: relative;

        #title {
            text-align: center;
            position: relative;
            font-size: 2.2vmax;
            text-transform: uppercase;
            top: 50%;
            transform: translateY(-50%);
        }

        #gameCounter {
            position: absolute;
            right: 5px;
            font-size: 0.9vmax;
            bottom: 0px;
        }
    }


    .beeswarmContainer {
        position: relative;
        background-color: $chessBrown1;
        border-top: 3px solid black;
        height: 31vh;
        width: 100%;

        //Remove blue highligh when double-clicking
        -webkit-user-select: none; 
        -moz-user-select: none;
        -ms-user-select: none; 
        -o-user-select: none;
        user-select: none;

        .chartTitleContainer {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 2.5%;
            left: 50%;
            transform: translateX(-50%);

            p {
                font-size: 1vmax;
                margin-right: 10px;
            }

            i {
                font-size: 1vmax;
                cursor: help;

                &:hover {
                    color: rgba(50,50,50,1);
                }
            }
        }
    }
}

#rightSide {
    width: 30%;
    height: 100vh;
    z-index: 0;

    #filters {
        position: relative;
        height: 32%;
        background-color: $chessBrown4;
        border-left: 3px solid black;
        padding: 3% 5%;

        .filterLabel {
            font-size: 1vmax;
            font-weight: 500;
            margin-bottom: 1%;
            height: 12%;
            text-transform: uppercase;
        }

        .filterLabel:not(:first-child) {
            margin-top: 3%;
        }

        #openingSearchbar {
            border-radius: 5px;
            border: none;
            outline: none;
            width: 70%;
            height: 10%;
            font-size: 0.9vmax;
            padding-left: 5px;
            text-transform: capitalize;

            &::placeholder {
                opacity: 0.5;
            }
        }

        #sliderContainer {
            height: 16%;

            #eloSlider {
                border: 1px solid black;
                position: relative;
                height:60%;
                background-color: #eeeef5;
            }

            #ticks {
                display: flex;
                flex-flow: row nowrap;

                .tickmark {
                    position: relative;
                    border-left: 1px solid black;
                    width: 0;

                    p {
                        position: absolute;
                        bottom: -16px;
                        transform: translateX(-50%);
                        font-size: 0.6vmax;
                    }
                }

                .tickmark:not(:last-child) {
                    margin-right: calc(2.08% - 1px);
                }

            }

        }

        #timeControl {
            height: 21%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            .checkboxContainer {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
                position: relative;

                p {
                    font-size: 1vmax;
                    font-weight: 400;
                    margin-top: 10%;
                }

                input[type=checkbox] {
                    height: 18px;
                    width: 18px;
                    appearance: none;
                    border: 2px solid white;
                    background-color: white;
                    border-radius: 50%;
                    cursor: pointer;
                
                    &:checked {
                        background-color: $chessBrown2;
                    }
                }
            }
        }
    }

    #openingContainer {
        height: 68%;
        background-color: $chessBrown2;
        border-left: 3px solid black;
        border-top: 1px solid black;
        text-align: center;
        padding-top: 3%;

        #openingName {
            font-size: 1.5vmax;
            text-decoration: none;

            &:hover {
                color: rgba(50,50,50,1);
            }
        }

        #stackedBarChart {
            width: 100%;
            height: 300px;
            border: 1px solid red;
        }
    }
}

div.tooltip {	
    color: black;
    position: absolute;			
    text-align: left;
    font-family: $poppins;		
    white-space: nowrap;					
    padding: 6px;				
    font-size: 14px;		
    background: #eee;	
    border: 1px solid gray;	
    border-radius: 2px;			
    pointer-events: none;
    cursor: none;
    z-index: 1;

    strong {
        color: black;
    }
}

.slider {
    position: absolute;
    border-left: 1px solid $chessBrown3;
    border-right: 1px solid $chessBrown3;
    background: $chessBrown1;
    height: 100%;
    width: 58px;
    top: 0px;
    cursor: move;
}

.slider .handle {
    position: absolute;
    height: 9px;
    width: 9px;
    background: $chessBrown3;
}

.slider .EE {
    right: -4px;
    cursor: e-resize;
}

.slider .WW {
    cursor: w-resize;
    left: -4px;
}

.slider .EE, .slider .WW {
    top: 50%;
    margin-top: -4px;
}

